@use "../abstracts/variables" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: vars.$bg-color;
  color: vars.$text-color;
  line-height: 1.6;
  padding-bottom: 40px;
}
